body {
  background: #ffb2ea;
}
h1,
p {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: white;
}

footer {
  text-align: center;
}

.croissant-pic {
  width: 600px;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
